.button {
    border-radius: 30px;
    padding-left: 1vw;
    padding-right: 1.2vw;
    padding-top: .4vh;
    padding-bottom: .5vh;
    background-color: var(--green-color);
    border: 2px solid var(--green-color);
    transition: all 0.3s ease;
    text-decoration: none;
    color: var(--black-color);
    text-align: center;
}

.button:hover {
    background-color: var(--black-color40);
    color: var(--green-color);    
    cursor: pointer;
}

.button-right {
    float: right;
}

.button-arrow:before {
    content: "\279C"; 
    padding-right: 0.5vw;
}
