@import '../main.css';

.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.7vw;
    text-decoration: none;
    color: var(--white-color);
    transition: all 0.3s ease;
}

.home a:hover {
    color: var(--blue-color);
}

.links {
    margin-left: auto;
}

.links a {
    color: var(--blue-color);
    margin-left: 40px;
}

.links a:hover {
    color: var(--white-color);
}
