@import '../main.css';

.experience {
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    margin-right: 2vw;
    align-items: center;
}

.symbol {
    width: 40px;
    height: 40px;
    border-radius: 200px;
    align-items: center;
    margin-right: 4vw;
}

.logos-list {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: auto;
    height: 45px;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
}

.project {
    margin-bottom: 8vh;
}

.project-images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: center;
    text-align: center;
}

.project-image {
    height: auto;
    width: 90%;
}

.links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.links a {
    color: var(--white-color);
    transition: all 0.3s ease;
}

.links a:hover {
    color: var(--green-color);
}

@media only screen and (min-width: 600px) {
    .experience {
        margin-left: 1vw;
    }

    .logos-list {
        justify-content: center;
    }

    .logo {
        width: auto;
        height: 80px;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-bottom: 2vh;
    }

    .symbol {
        width: 70px;
        height: 70px;
        margin-right: 1.5vw;
    }

    .project-image {
        height: 250px;
        width: auto;
    }
}