@import '../main.css';
@import '../components/buttonArrow.css';

.sum-up {
    display: flex;
    flex-direction: row;
    gap: 10vw;
    align-items: center;
    margin-bottom: 7vh;
}

.sum-up img {
    width: 15vw;
    height: 15vw;
    border-radius: 200px;
}

.sum-up .text {
    margin-top: 0;
    padding-bottom: 3vh;
}
