@import '../main.css';
@import '../components/buttons.css';

.sum-up {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: center;
    margin-bottom: 3vh;
}

.sum-up img {
    width: 150px;
    height: 150px;
    border-radius: 200px;
}

.sum-up .text {
    margin-top: 0;
    padding-bottom: 1vh;
}

@media only screen and (min-width: 600px) {
    .sum-up {
        display: flex;
        flex-direction: row;
        gap: 10vw;
        align-items: center;
        margin-bottom: 7vh;
    }
    
    .sum-up img {
        width: 15vw;
        height: 15vw;
    }

    .sum-up .text {
        padding-bottom: 3vh;
    }
}
