@import url('https://fonts.googleapis.com/css?family=Inter');

:root {
    --white-color: #FFFFFF;
    --blue-color: #4D9DE0;
    --green-color: #55D6BE;
    --black-color: #000000;
}

body {
  color: white;
  background-image: url('!/images/background2.jpg');
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Inter';
}

.main {
  margin-left: 4vw;
  margin-right: 4vw;
  margin-top: 8vh;
}
